@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #0f172a; /* Slate 900 */
  color: white;
  overflow: hidden; /* Prevent scrolling on mobile while playing */
}

canvas {
  touch-action: none; /* Prevent browser handling of gestures */
}